// body {
//     margin: 0;
//     padding: 0;
//     background-color: #f7f5f5;
//     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1740' height='760' preserveAspectRatio='none' viewBox='0 0 1740 760'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3cpath d='M870 1228.65C1090.16 1239.23 1304.29 1124.42 1443.53 953.53 1571.73 796.25 1576.24 582.4 1561.7 380 1548.45 195.54 1487.6 23.22 1366.75-116.75 1234.83-269.57 1071.07-402.92 870-421.14 652.51-440.82 417.13-380.89 274.35-215.65 137.63-57.41 163.81 171.34 177.75 380 190.44 569.61 228.9 753.75 349 901 483.78 1066.23 656.97 1218.44 870 1228.65' fill='rgba(226%2c 226%2c 226%2c 0.39)'%3e%3c/path%3e%3cpath d='M870 1007.27C1032.72 1015.09 1190.99 930.22 1293.91 803.91 1388.67 687.67 1392 529.6 1381.26 380 1371.47 243.66 1326.48 116.3 1237.17 12.83 1139.65-100.11 1018.61-198.68 870-212.14 709.25-226.7 535.27-182.39 429.73-60.27 328.69 56.69 348.03 225.78 358.33 380 367.72 520.15 396.14 656.25 484.92 765.08 584.54 887.21 712.55 999.72 870 1007.27' fill='rgba(234%2c 234%2c 234%2c 0.27)'%3e%3c/path%3e%3cpath d='M870 785.88C975.29 790.94 1077.7 736.03 1144.3 654.3 1205.61 579.08 1207.77 476.8 1200.81 380 1194.48 291.78 1165.37 209.37 1107.58 142.42 1044.48 69.34 966.16 5.56 870-3.15 765.98-12.57 653.41 16.1 585.12 95.12 519.74 170.8 532.26 280.21 538.92 380 544.99 470.68 563.39 558.75 620.83 629.17 685.29 708.2 768.12 780.99 870 785.88' fill='rgba(217%2c 219%2c 222%2c 0.24)'%3e%3c/path%3e%3cpath d='M870 564.49C917.86 566.79 964.41 541.83 994.68 504.68 1022.55 470.49 1023.53 424 1020.37 380 1017.49 339.9 1004.26 302.44 977.99 272.01 949.31 238.79 913.71 209.8 870 205.84 822.72 201.56 771.55 214.59 740.51 250.51 710.79 284.91 716.48 334.64 719.51 380 722.27 421.22 730.63 461.25 756.74 493.26 786.04 529.18 823.69 562.27 870 564.49' fill='rgba(218%2c 218%2c 218%2c 0.27)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='1740' height='760' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
// }



// Header

.quote {
  width: 110%;
  bottom: -15%;
  position: relative;

blockquote {
  font-size: 1.25em;
  line-height: 1.200em;
  color: #000;

  span.author {
      padding-right: 1em;
      display: block;
      text-align: right;
      color: #000;
      font-family:  $primary-font-regular;
      text-transform: uppercase;
  }
}
}

.row {
  margin-bottom: 0;
  display: block;
}

.col {
  margin-bottom: 0;
  display: block;
}

.user-profile {
  margin: auto;
  width: 35em;
  height: 11em;

  .username {
      margin: auto;
      margin-top: -6.4em;
      margin-left: 10.8em;
      font-size: 2.13em;
      font-family: $primary-font-regular;
      font-weight: bolder;
  }

  .bio {
      margin: auto;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0px;
      margin-top: 0.6em;
      margin-left: 18em;
      font-size: 1.27em;
      font-family: $primary-font-regular;
      width: 15em;
  }

  >.description {
      margin: auto;
      margin-top: 1.25em;
      margin-right: -3em;
      line-height: 1.4;
      width: 15em;
      color: $col-black;
      font-size: 1em;
      font-family:   $primary-font-regular;
  }

  .avatar {
      padding: .7em;
      margin-left: .3em;
      margin-top: .3em;
      height: 20.23em;
      width: 20.23em;
      border-radius: 18em;
      object-fit: cover;
  }
}




@media only screen and (min-width: 320px) {
  body {
      overflow-x: hidden;
  }
  .bg-img{
      display: flex;
      width: 90%;
      left: 0;
      margin: 0%;
      position: absolute;
      top: 60%;
      filter: blur(3px);
      border-radius: 3em;
  }

  .container {
      margin: 0 5%;

      header {
          width: 100%;
          height: 20vh;
          position: relative;
      }
  }

  .main {
      .col {
          color: #000;
          border-radius: 0.2em;
      }


  }

  .content-right {
      width: 100%;
      justify-content: center;
      display: block;
      margin: 40% 0;
      position: relative;
      padding:0 2em;
      z-index: 5;
      @media only screen and (min-width: 1020px) {
          margin: 50% 0;
          padding:0;
      }

      .desktop{
          display: auto;
    
  }
  .mobile{
      .row-content {
       
       
          .col-l {
              span{
                  display: flex;
                  height: 0.3vh;
                  background: brown;
              }
          }
          .col-r {
              h5{
                  font-family: $secondary-font;
              }
              }
          }
      
      .row-content:nth-child(1) {
          height: 25vh;
          display: flex;
          width: 100%;
          flex-direction: row-reverse;
          .col-l {
              display: flex;
              width: 100%;
              margin: 2.5% 5%;
              .cover-img{
                  display: flex;
                     height: 15vh;
                     width: 35%;
                     background-color:#fff;
                     position: absolute;
                     z-index: 2;
              }
              .vids_one{
                  position: absolute;
                  width: 95%;
                  filter: grayscale(1);
                  height: 15vh;
                  transform: rotate(0);
                  background: blue;
                  &:hover{
                      filter:blur(2px);
                  }
              }
              span{
                  width: 80%;
                  height: 15vh;
                  transform: rotate(15deg);
                  background: #a52a2a00;
                  border: 1px solid #b7adad;
              }
          }
          .col-r {
              h5 {
            //  will-change: transform;
//  transform: translateY(45px);
                  // font-size: 4.5em;
                  // margin: 0% -25%;
                  // width: 10.5em;
                  font-family: $secondary-font;
                  span {
                      font-size: 0.65em;
                      position: relative;
                      margin: 4% 2%;
                      bottom: 15px;
                  }
              }
              p{
                  font-size: 1.5em;
                  letter-spacing: 0.6px;
                  line-height: 1.2;
                  margin: 10% 5.5%;
                  text-align: right;
                  font-family: $primary-font-regular;
              }
          }
          

      }

      .row-content:nth-child(2) {
          display: flex;
          width: 100%;
          height: 25vh;
  flex-direction: column;
          .col-l {
              display: flex;
              width: 100%;
              margin: 6% 0%;
              .vids_one{  
                  display: none;
              }
              span{
                  display: none;
                  width: 100%;
              }
          }
          .col-r {
              h5 {
                  span {
                      font-size: 0.65em;
                      position: relative;
                      margin: 4% 2%;
                      bottom: 15px;
                  }
              }
              p{
                  font-size: 1.5em;
                  letter-spacing: 0.6px;
                  line-height: 1.2;
                  margin: 5% 1.5%;
                  font-family: $primary-font-regular;
              }
          }

      }


      .row-content:nth-child(3) {
          display: flex;
          width: 100%;
          height: 25vh;
          flex-direction: row-reverse;
          .col-l {
              display: flex;
              width: 100%;
              // margin: 2.5% 5%;
              position: relative;
              left: 6%;
              .cover-img{
                  display: flex;
                     height: 15vh;
                     width: 100%;
                     background-color:#fff;
                     position: absolute;
                     z-index: 1;
              }
              .vids_one{  
                  width: 95%;
                  height: 18vh;
                    position: absolute;
                  z-index: 1;
                  display: flex;
                  filter: grayscale(1);
                  background: brown;
                  &:hover{
                      filter:blur(2px);
                  }
              }
              span{
                  &:nth-child(2){
                  width: 100%;
                  height: 18vh;
                  position: relative;
                  left: 15%;
                  background: transparent;
                  bottom: 10%;
                  border: 2px solid #9a949472;
                  }
              }
          }
          .col-r {
              position: relative;
              right: 2%;
              z-index: 2;
              margin:10% 0;
              h5 {
                  span {
                      font-size: 0.65em;
                      position: relative;
                      margin: 4% 0%;
                      bottom: 15px;
                      color: #fff;
                  }
              }
              .shortDesc{
                  font-size: 1.5em;
                  letter-spacing: 0.6px;
                  line-height: 1.2;
                  margin: 5% 10.5%;
                  right: -18%;
                  width: 70%;
                  text-align: right;
  position: relative;
                  font-family: $primary-font-regular;
              }
          }

      }

      .row-content:nth-child(4) {
          display: block;
          width: 100%;

          .col-l {
              display: block;
              width: 100%;
              margin: 2% 0%;
              .vids_one{  
                  display: none;
              }
              span{
                  display: none;
              }
          }
          .col-r {
              h5 {
                  span {
                      font-size: 0.65em;
                      position: relative;
                      margin: 4% 2%;
                      bottom: 15px;
                  }
              }
              p{
                  font-size: 1.5em;
                  letter-spacing: 0.6px;
                  line-height: 1.2;
                  margin: 5% 1.5%;
                  font-family: $primary-font-regular;
              }
          }


  }

      .row-content:nth-child(5) {
          display:none;
      }

  }
  }

  .vid-container{

      .vid{
          width: 100%;
          height: 40vh;
          padding: 0;
          background: rgb(239, 239, 239);
        //   position: absolute;
          right: 0%;
          object-fit: cover;
          display: block;


video {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: 0.4s;
   }
   
   
   .video-stream {
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
    &:hover .video-js .vjs-big-play-button {
     opacity: 1;
    }
   }
   
   
   .video-content {
    width: 100%;
   }
      }
  }
  .pic-container{
      padding:0 02em;

      .pic{
          width: 90%;
          height: 40vh;
          padding: 0;
       
          position: relative;
          display: flex;
          .img{
              width: 80%;
              background-color: rgb(141, 29, 29);
              display: flex;
              height: 35vh;
              object-fit: cover;
              position: absolute;
              z-index: 3;
            //   transform: scale(0.2);
          }
          span{
      
                  width: 80%;
                  background-color: #111;
                  display: flex;
                  height: 30vh;
                  transform: rotate(11deg);
          }
      }
      .pic-text{
          width: 45%;
          height: 15vh;
          margin: 10% 0;
          h4{
              font-size: 1.5em;
              margin: 20% 0;
              font-family: $primary-font-regular;
          }

          .VE{
              width: 100px;
              display: flex;
              flex-direction: row;
              background: #9e9e9e00;
              .logo{
                  height: 5vh;
                  width: 50%;
                  display: block;
                  object-fit: contain;
                  background: transparent;
              }
              h4{
                  text-transform: uppercase;
                  font-family: $primary-font-regular;
                  width: 100%;
                  letter-spacing: -2px;
                  /* display: flex; */
                  font-size: 1.8em;
                  margin: 0 2%;
              }
          }
      }
  }

  .quote-container {
      display: none;
  }
  .quote-m-container{
      margin:30% 5%;
  height: 45vh;
      font-family: $primary-font-regular;
      div{
          position: relative;
        
         
      blockquote{
          font-size: 3.2em;
          margin: 0;
          font-weight: 900;
          line-height: 1.1;
          width: 100%;
      }
      .author{
          font-size: 2em;
          margin: -25% 5%;
          text-transform: uppercase;
          position: absolute;
          top:16em;
      }
  }
  }



  .next-page {
      height: 35vh;
  position: relative;
  right: 0;
  bottom: 0%;
  width: 190%;
  justify-content: space-around;
  display: flex;
  text-align: center;
  left: 10%;
  }

  .profile {
      width: 100%;

      .user-profile {
          width: 100%;

          .username {
              font-size: 2.5em;
              margin-left: 8.5em;
          }

          .bio {
              font-size: 1.8em;
              margin-left: 11.5em;
              width: 15em;
          }

          .description {
              margin-right: 0em;

              margin-left: 14.5em;
              width: 15em;
              font-size: 1.2em;
          }

        .avatar {
              height: 17.23em;
              width: 17.23em;
          }
      }

  }
}

@media only screen and (min-width: 360px) {
  .container {
      margin: 0 2.5%;
      overflow-x: hidden;
  }

  .content-right {
      .row-content:nth-child(1) {
          height: 8vh;
          .col-r {
              h5 {
                  font-size: 4.3em;
              }
          }
      }
          .row-content:nth-child(2) {
              height: 8vh;
              .col-r {
                  h5 {
                      font-size: 4.3em;
                  }
              }
          }
          .row-content:nth-child(3) {
              height: 8vh;
              .col-r {
                  h5 {
                      font-size: 4.2em;
                  }
              }
          }
          .row-content:nth-child(4) {
              height: 8vh;
              .col-r {
                  h5 {
                      font-size: 4.3em;
                  }
              }
          }
  }

  .profile {
      width: 100%;

      .user-profile {
          width: 100%;

          .username {
              margin-top: -5.8em;
          }

          .description {
              margin-top: 0.45em;
              margin-left: 14.5em;
              width: 15em;
              font-size: 1.4em;
          }


      }

  }

}

@media only screen and (min-width: 370px) {

  .profile {
      width: 100%;

      .user-profile {
          width: 100%;

          .username {
              margin-top: -5.8em;
          }

          .description {
              margin-top: 0.55em;
              margin-left: 14.8em;
              width: 15em;
              font-size: 1.4em;
          }


      }

  }
}

@media only screen and (min-width: 390px) {


  .profile {
      width: 100%;

      .user-profile {
          width: 100%;

          .username {
              margin-top: -5.8em;
          }

          .description {
              margin-top: 0.55em;
              margin-left: 13em;
              width: 15em;
              font-size: 1.6em;
          }


      }

  }




}


@media only screen and (min-width: 400px) {
.content-right {
  .row-content:nth-child(1) {
      .col-r {
          h5 {
              font-size: 4.5em;
          }
      }
  }
      .row-content:nth-child(2) {
          .col-r {
              h5 {
                  font-size: 4.5em;
              }
          }
      }
      .row-content:nth-child(3) {
          .col-r {
              h5 {
                  font-size: 4.5em;
              }
          }
      }
      .row-content:nth-child(4) {
          .col-r {
              h5 {
                  font-size: 4.5em;
              }
          }
      }
}
}

@media only screen and (min-width: 425px) {

  .profile {
      .user-profile {
          .description {
              margin-top: 0.75em;
              margin-left: 11em;
              width: 18em;
              font-size: 1.7em;
          }
      }

  }

}



@media only screen and (min-width: 600px) {
  .col {
      margin: 0 10px;
      float: left;
  }

  .one-third {
      width: 100%;
  }
  .quote-m-container{
      margin: 5%;
  height: 60vh;
      div{
          top: 35%;
      blockquote{
          font-size: 7.0em;
      }

      .author{
          font-size: 4.5em;
      }
  }
  }


  .text-heading {
      position: relative;
      margin: 45% 2.5%;

      .row {
          height: 22vh;

          &:nth-child(2) {
              height: 35vh;
          }

      }

      p {
          font-size: 3em;
          display: block;
          margin: 3.5% 2%;
          font-family: $primary-font-regular;
      }
  }

  .span-1 {
      font-size: 10em;

      .icon-div {
          display: inline-flex;
          margin: -1% 0;
          margin-right: 4%;
          position: relative;
          left: 4%;

          .icon {
              height: 50px;
              width: 50px;
          }
      }
  }

  #right {
      display: inline-flex;
      margin: -1% 0;
      margin-right: 22%;
      position: relative;
      left: 21%;
  }

  .span12 {
      font-size: 10em;

      .icon-div {
          display: inline-flex;
          margin: -1% 0;
          margin-right: 4%;
          position: relative;
          left: 42%;
          margin: -0.5% 0;

          .icon {
              height: 50px;
              width: 50px;
          }
      }
  }

  .two-thirds {
      width: 100%;
  }

  .profile {
      width: 100%;

      .user-profile {
          width: 100%;

          .username {
              margin-top: -6em;
              font-size: 5em;
              width: 8em;
              margin-left: 7.5em;
          }

          .bio {
              margin-left: 12.5em;
              font-size: 3em;
              width: 10em;
          }

          .description {
              font-size: 2.7em;
              margin-left: 14em;
              width: 15em;
          }

          .avatar {
              height: 35.23em;
              width: 35.23em;
              border-radius: 200px;
          }
      }

  }



  .content-right {
      margin: 32.5% 0;

      .row-content:nth-child(1) {
          .col-r {
              margin: 1% 2%;
              h5 {
                  font-size: 8.5em;
              }

              p {
                  width: 22em;
                  font-size: 2em;
              }
          }
      }

      .row-content:nth-child(2) {
          .col-r {
              margin: 5% -15%;

              h5 {
                  font-size: 8.5em;
              }

              p {
                  width: 22em;
                  font-size: 2em;
              }
          }
      }

      .row-content:nth-child(3) {
          .col-r {
              margin: 5% ;
              h5 {
                  font-size: 8.5em;
              }

              p {
                  width: 22em;
                  font-size: 2em;
              }
          }
      }
      .row-content:nth-child(4) {
          .col-r {
              h5 {
                  font-size: 8.5em;
              }
          }
      }
  }
}

@media only screen and (min-width: 768px) {
  .col {
      margin: 0 10px;
      float: left;
  }

  .one-third {
      width: 100%;
  }
  .container {
      header {
          position: absolute;
      }
  }


  .text-heading {
      position: relative;
      margin: 45% 2.5%;

      .row {
          height: 22vh;

          &:nth-child(2) {
              height: 30vh;
          }

      }

      p {
          font-size: 3em;
          display: block;
          margin: 3.5% 2%;
          font-family: $primary-font-regular;
      }
  }

  .span-1 {
      font-size: 10em;
  }

  .span12 {
      font-size: 10em;
  }

  .two-thirds {
      width: 100%;
  }

  .profile {
      width: 100%;

      .user-profile {
          width: 100%;

          .username {
              margin-top: -6em;
              font-size: 5em;
              width: 8em;
              margin-left: 9em;
          }

          .bio {
              margin-left: 15em;
              font-size: 3em;
              width: 10em;
          }

          .description {
              font-size: 2.7em;
              margin-left: 16.5em;
              width: 15em;
          }

          .avatar {
              height: 40.23em;
              width: 40.23em;
              border-radius: 200px;
          }
      }

  }
}

@media only screen and (min-width: 1020px) {
  body {
      overflow: hidden;
  }


  .bg-img{
    width: 80%;
    height: 100vh;
    background: url("https://i.postimg.cc/g0qSVBP9/alfa-romeo-2-wallpaper-1600x1200.jpg")
      no-repeat;
    background-position: cover;
      position: absolute;
      display: block;
      top: 0%;
      left: 40%;
      right: auto;
      bottom: auto;
    //   -webkit-filter: blur(3px);
      filter: grayscale(1) blur(2px);
    //   opacity: 0.9;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 90%;
        height: 100%;
        background: url("https://i.postimg.cc/xC1RKfRH/splash.jpg") no-repeat;
        background-size: 100% 100%;
        background-position: center;
        mix-blend-mode: screen;
      }
      
  }

  .quote-m-container{
     display: none;
  }

  .container {
      width: 1010px;
      margin: 0 auto;

      header {
          position: absolute;
      }
  }

  .one-third {
      width: 345px;
      height: 100vh;
  }

  .profile {
      .user-profile {
          width: 35em;

          .username {
              margin: auto;
              margin-top: -6.4em;
              margin-left: 10.8em;
              font-size: 2.13em;
          }

          .bio {
              margin-left: 18em;
              font-size: 1.27em;
              width: 15em;
          }

          .description {
              margin: auto;
              margin-top: 1.25em;
              margin-right: -6em;
              width: 18em;
              color: $col-black;
              font-size: 1em;
          }

          .avatar {
              padding: .7em;
              margin-left: .3em;
              margin-top: .3em;
              height: 20.23em;
              width: 20.23em;
              border-radius: 18em;
              object-fit: cover;
          }
      }

  }


  .two-thirds {
      width: 615px;
  }

  .quote-container {
      display: flex;
      width: 450px;
      position: absolute;
      bottom: 15em;
      z-index: 1;
      font-size: 1.1em;
      margin: -0.5% 2.5%;
      font-family: $primary-font-regular;
  }

  .quote {
      width: 60%;
      bottom: 5em;
      position: relative;

      &:nth-child(2) {
          bottom: -100px;
      }
  }
  .desktop{
      display: flex;
      .row-content {
          width: 100%;
          height: 28vh;
          display: block;

          .col-l {
display: none;
          }

          .col-r {
              h5{
                  transform: translateY(-10px);
              }
            
          }

      }

      .row-content:nth-child(1) {
          margin:10% 0;
          width: 55%;
          position: relative;
          // top: -1.5em;
          font-family: $secondary-font;
          .col-l {
              display: none;
          }

          .col-r {
               width: 100%;
               height: 10vh;
               margin: 15% 40%;
               display: block;

              h5 {
                  font-size: 6.5em;
                  margin: 0%;
                  width: 7.5em;
                //   opacity: 1;

                  span {
                      font-size: 0.65em;
                      position: relative;
                      margin: 4% 2%;
                      bottom: 15px;
                  }
              }

              p {
                display: flex;
                font-size: 1.5em;
                position: absolute;
                left: 32em;
                width: 50%;
                top: 0em;
            
              }
          }

      }

       .row-content:nth-child(2) {
          margin:1% 0;
          width: 40%;
          position: relative;
          //   top: 10em;
          //   left: 35em;
          font-family: $secondary-font;
          .col-l {
              display: none;
          }
          .col-r {
              width: 130%;
              height: 10vh;
              /* justify-content: end; */
              margin:0.5% -10%;
              border-radius: 4.8em;
              display: block;

              h5 {
                //   opacity: 1;
                  font-size: 6.5em;
                  margin:0;
                  width: 5em;

                  span {
                      font-size: 0.65em;
                      position: relative;
                      margin: 4% 2%;
                      bottom: 15px;
                  }
              }

              p {
                  display: none;
              }
          }

       }


       .row-content:nth-child(3) {
          margin:1% 0;
          width: 35%;
          position: relative;
          //    top: -3em;
          //    left: 5em;
          font-family: $secondary-font;
          .col-l {
              display: none;
          }
          .col-r {
              width: 160%;
              height: 10vh;
              /* justify-content: end; */
              margin:-20.5% 150%;
              border-radius: 4.8em;
              display: block;
              h5 {
                //   opacity: 0;
                  font-size: 6.5em;
                  margin: 0% -2%;
                  width: 5.5em;

                  span {
                      font-size: 0.65em;
                      position: relative;
                      margin: 4% 2%;
                      bottom: 15px;
                  }
              }

              p {
                 display: flex;
                 position: absolute;
                 left: auto;
                 width: 13em;
                 top: 5em;
                 font-size: 1.6em;
              }
          }

       }

       .row-content:nth-child(4) {
          margin:1% 0;
          width: 100%;
          position: relative;
              // top: 10em;
              // left: -5em;
          font-family: $secondary-font;
           .col-l {
               display: none;
               width: 70%;
               font-size: 1.5em;
                 margin: 35%;
           }
           .col-r {
              width: 120%;
              height: 10vh;
              /* justify-content: end; */
              text-align: right;
              margin: 15% 10%;
              h5 {
                //   opacity: 1;
                  font-size: 4em;
                  margin: 0%;
                  width: 6.5em;

                  span {
                      font-size: 0.65em;
                      position: relative;
                      margin: 4% 1%;
                      bottom: 15px;
                  }
              }

              p {
              
    display: flex;
    position: absolute;
    width: 12em;
    left: 20em;
    font-size: 1.5em;
    top: 4em;
}}}


      .row-content:nth-child(5) {
          margin: -65% 70%;
          width: 55%;
          position: absolute;
          // top: -1.5em;
          font-family: $secondary-font;
          .col-l {
              display: none;
          }
          .col-r {
            
            
            
               display: none;
                                  
             p{
                display: flex;
                width: 20em;
                left: -5em;
                top: 15em;
                position: absolute;
             }
          }
      }
  }



  .one {
      line-height: 2;
      width: 280px;
      height: 6vh;
      font-size: 3.9em;
      text-transform: uppercase;
  }

  .profile {
      width: 100%;
      margin: 35% 0;
      height: 35vh;
  }

  .next-page {
      left: 72%;

      .next-link {
          font-size: 12px;
          left: 14%;
          bottom: 45%;
      }
  }
}


@media only screen and (min-width: 1230px) {
  .container {
      width: 1250px;
      margin: 0 auto;
  }

  .one-third {
      width: 370px;
  }

  .two-thirds {
      width: 840px;
  }

  .quote-container {
      width: 470px;
      margin: 0 8.5%;
      bottom: 15.5em;
      .quote {
          width: 45%;
          bottom: 10em;
          position: relative;
          &:nth-child(2){
              bottom: -10em;
          }
      }
  }

  
// 
  .content-right {
      margin: 22.5% 0;
  }
  .profile {
      width: 100%;
      margin: 35% 20%;
      height: 35vh;
  }

  .next-page {
      height: 35vh;
      position: fixed;
      right: 0;
      bottom: 0%;
      width: 75%;
      justify-content: center;
      display: flex;
      text-align: center;
      left: 71%;



      svg {
          width: 180%;
          height: 55vh;
          position: relative;
          margin: 2% 11%;
          margin-right: 0%;
      }

      svg textPath {
          font-size: 70px;
          font-family: sans-serif;
          text-transform: uppercase;
          letter-spacing: -20px;
          fill: #111;
          background: #333;
      }

      .next-link {
          width: 13%;
          position: absolute;
          font-size: 16px;
          left: 14%;
          text-transform: uppercase;
          bottom: 50%;
          line-height: 2%;
      }
  }
}


@media only screen and (min-width: 1330px) {
 
  .quote-container {
      display: flex;
      width: 550px;
      bottom: 18.5em;
      margin: 0 14.5%;

  .quote {
      width: 40%;
      bottom: -5%;
      position: relative;

      &:nth-child(1){
          left: -5em;
      }

      &:nth-child(2) {
          bottom: -12.5em;
      }
  }
  }
 
  .profile {
      margin: 20% 10%;
  }

  .container {
      width: 1500px;
      margin: 0 auto;
      z-index: 2;
  }

  .content-right {
      width: 55%;
      justify-content: center;
      display: block;
      margin: 20% 0;
      top: 2.5%;
      z-index: 20;
      position: absolute;
  

      .row-content {
          width: 35%;
          height: 50vh;

          .col-l {
              display: none;
              width: 48%;
              float: left;
          }

          .col-r {
              width: 50%;
              float: right;
          }
      }


      .row-content:nth-child(1) {
 width: 45%;
     height: 10vh;
     margin: 0% 12.5%;

          .col-l {
              width: 55%;
              height: 25vh;
              float: left;
       
          }

          .col-r {
                width: 100%;
                margin: -20.5% 5%;
              height: 16.5vh;
              position: absolute;
              float: right;
              
              h5 {
                  font-size: 6.5em;
                  margin: 0%;
                  width: 10em;

              }
              p {
                display: flex;
                   font-size: 1em;
                   position: absolute;
               left: 8em;
                   width: 50%;
                   top: -2.5em;
              }
          }
      }


      .row-content:nth-child(2) {
          width: 35%;
  height: 10vh;
  right: 70%;
  position: absolute;
  top: 35%;

          .col-l {
              width: 60%;
              height: 55vh;
          }

          .col-r {
                width: 120%;
                /* right: 162%; */
                margin: 0;
                height: 16.5vh;
                bottom: 38%;
                position: absolute;
                h5{
                  font-size:6em;
                  width: 6em;
                  margin: 0;
              }
              p {
                display: flex;
                font-size: 1em;
                position: absolute;
                left: 25em;
                width: 40%;
                top: 0em;
              }
          }
      }

      .row-content:nth-child(3) {
          width: 30%;
          height: 10vh;
          right: 30.5%;
          position: absolute;
          bottom: 50%;
          .col-l {
              width: 60%;
              height: 35vh;
          }

          .col-r {
               width: 150%;
               left: 30%;
               height: 20vh;
               position: absolute;
               bottom: -8em;
               margin: 0;
              h5{
                  width: 6em;
                  font-size:6em;
                  margin: 0;
            
              }
              p {
                display: flex;
                position: absolute;
               left: 23em;
                   width: 12em;
                top: 55%;
                font-size: 1.2em;
              
                     }
          }
      }

      .row-content:nth-child(4) {
          width: 35%;
  height: 10vh;
  margin: 10% 0.5%;

          .col-l {
              width: 45%;
              height: 20vh;
              float: left;
          }

          .col-r {
 width: 100%;
     margin: 15% 25%;
     height: 17.5vh;
     position: absolute;
     float: right;
  h5{
      font-size: 3.5em;
  }
  p {
    display: flex;
    position: absolute;
    width: 18em;
    font-size: 1em;
    left: 20em;
    top: 90%;
  }
          }
      }
      .row-content:nth-child(5) {
          margin: -65% 70%;
          width: 55%;
          position: absolute;
          // top: -1.5em;
          font-family: $secondary-font;
          .col-l {
              display: none;
          }
          .col-r {
               width: 100%;
               height: 8vh;
               margin: 15% 40%;
               display: block;
              h5 {
                  font-size: 6.5em;
                  margin: 0%;
                  width:6.5em;
                  opacity: 1;
                  span {
                      font-size: 0.65em;
                      position: relative;
                      margin: 4% 2%;
                      bottom: 15px;
                  }
              }
              p {

  display: flex;
                    width: 20em;
                    left: -5em;
                    top: 15em;
                    position: absolute;
           
              }
          }
      }

  }





  .one-third {
      width: 475px;
  }

  .two-thirds {
      width: 965px;
  }

  .col {
      margin: 0 15px;
  }

  .next-page {
      height: 35vh;
      position: fixed;
      right: 0;
      bottom: 5%;
      left: 71%;

      .next-link {
          left: 14.5%;
          bottom: 45%;
      }
  }
}


@media only screen and (min-width: 1430px) {
  .quote-container {
      display: flex;
      width: 550px;
      bottom: 15em;
      margin:0 20%;
  }

  .quote {
      width: 45%;
      bottom: 10em;
      position: relative;

      &:nth-child(2) {
          bottom: -100px;
      }
  }

  .container {
      width: 1500px;
      margin: 0 auto;
  }

  .content-right {
      .img {
          width: 70%;
          height: 80vh;
      }
  }

  .one-third {
      width: 475px;
  }

  .two-thirds {
      width: 965px;
  }

  .col {
      margin: 0 15px;
  }

  .next-page {
      bottom: 0;

      .next-link {
          left: 16.5%;
          bottom: 50%;
      }
  }
}

@media only screen and (min-width: 1750px) {
  .quote-container {
      display: flex;
      width: 650px;
      bottom: 10em;
  }

  .container {
      width: 1500px;
      margin: 0;
  }

  .one-third {
      width: 495px;
  }

  .two-thirds {
      width: 915px;
  }

  .next-page {
      .next-link {
          left: 14.5%;
          bottom: 50%;
      }
  }
}

.shared{
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0%;
  position: fixed;
  display: flex;
  z-index: 8;
  background-position: center;
  background: brown;
  >div{
    width: 100%;
    height: 100vh;
      background: #607d8b;
      position: absolute;
      left: 0%;
      top: 0%;
      border-radius: 0;
  }

  @media only screen and (min-width: 1020px) {
  width: 210vh;
  height: 100vh;
  left:0%;
  top: 0%;
  position: fixed;
  display: flex;
  z-index: 18;
  border-radius: 0;
  background: #9e9e9e30;
  >div{
      width: 80vh;
      height: 70vh;
      background: #607d8b;
      position: absolute;
      top: 10%;  
      left: 2%;
      border-radius: 1em;
  }
    }
    
.vid{
  height: 100vh;
  @media only screen and (min-width:1020px) {
      height: 80vh;
      border-radius: 1em;
  }
}
}

.desktop{
  display: none;
  @media only screen and (min-width: 1020px) {
      display: block;
  }
}
.mobile{
  display: block;
  @media only screen and (min-width: 1020px) {
      display: none;
  }
}
.mobile-flex{
  display: flex;
  @media only screen and (min-width: 1020px) {
      display: none;
  }
}





/* Controls */

.controlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: transparent;
  margin-top: -45vw;
  padding: 0 40px;
  position: absolute;
  z-index: 3;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 5rem; */
  width: 40%;
  height: 18vh;
  margin: auto;
  border-radius: 250px;
  background: transparent;
  
}



.winp{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25%;

    h1{
         font-size: 8em;
  width: 90%;
  margin:0 25%;
  text-transform: uppercase;
  font-weight: 900;
      font-family: $primary-font-regular;
      span{
margin-left: -75%;
      }
    }
}





// footer
.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 2rem;
  position: relative;
  flex-direction: column-reverse;
  margin: 0% 0;
  bottom: 0;
  width: 100%;
  height: 50vh;
  color: $col-black;



  @media only screen and (min-width: 1020px) {
  display: flex;
  justify-content: space-between;
  flex-direction: auto;
  padding: 4rem 2rem;
  position: absolute;
  margin: 0% 0;
  height: 15vh;

  }

  .credit{
      position: relative;
  bottom: -65px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $primary-font-medium;
  @media only screen and (min-width: 1020px) {
       bottom: auto;
  }
  >div{
      width: 130px;
      display: flex;
      flex-direction: row;
      background: #ffffff;
      .footer_logo{
             height: 5vh;
             width: 30%;
          display: block;
          object-fit: contain;
          background: transparent;
          @media only screen and (min-width: 1020px) {
            height: 6vh;
            width: 30%;
       }
      }
      h4{
          width: 60%;
          /* display: flex; */
          font-size: 1.8em;
          margin: 0 2%;
          letter-spacing: -2px;
      }
  }

}

  }
 .next{
  height: 150px;
  width: 150px;
  background: transparent;
  margin: -10% 30%;
  // transform: rotate(271deg);
  position:relative;
  display: flex;
  border-radius: 200px;
  @media only screen and (min-width: 1020px) {
      margin: -10% 0;
      left: 90em;
  }
  @media only screen and (min-width: 1200px) {
      left: 100em;
  }
  a{
      color: #000;
  }
       
  .view-peter-o-profile{
      width: 100%;
      animation: rotate 30s linear infinite;
      transform-origin: center;
      textPath {
        font-size: 24px;
        font-family:$primary-font-regular;
        text-transform: uppercase;
        fill: #000000;
      }
    
      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  .next-arrow{
      position: absolute;
      margin: 50% -70.5%;
      textPath {
             fill: #000000;
        }
      
  }
}
.img-hover{
display: none;
}

.issueWrapper {
    display: block;
    position: fixed;
    pointer-events: none;
    width: 200px;
    height: 300px;
    top: 0;
    left: 0;
    overflow: hidden;
    // border: 5px solid pink;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
    // transform: translateZ(100px);  
    padding: 30px;
    // visibility: hidden;
}
.achivements{
    --clip:100%;
    clip-path: circle(var(--clip));
}

.nav-anim {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
  
    #close{
    
    }
    .box-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        z-index: 5;
        overflow: hidden;
        background-color: #9e9e9e00;
        .box {
            background-color: $col-black;
            width:0;
            height: calc(100vw);
            z-index: 5;
        }
      }
      .prof{
        position: absolute;
        top: 0;
        display: none;
        // width: 100vw;
        z-index: 2;
        // filter: brightness(1%);
        opacity: 0;
    }

    };


#hero-vid {
    backface-visibility:hidden;
    background:url("https://www.markhillard.com/sandbox/media/polina.jpg") no-repeat scroll 0 0 #000;
    background-size:cover;
    bottom:0;
    height:40vh;
    min-width:100%;
    perspective:1000;
    position:fixed;
    right:0;
    width:auto;
    z-index:-1;
    }


#state {
    bottom:0;
    cursor:pointer;
    font-size:2.25rem;
    left:0;
    line-height:1;
    padding:2rem 2.5rem 1.65rem;
    position:absolute;
    }
    
    
    /* Content Styles */
    
    #title {
    backface-visibility:hidden;
    left:0;
    perspective:1000;
    position:fixed;
    width:100%;
    }
    
    #title h1 {
    background-color:rgba(0,0,0,.5);
    font-family:"Poiret One", sans-serif;
    font-size:2.5rem;
    padding:1rem 1.75rem;
    }
    
    #content {
    background-color:#151515;
    padding:2.5rem;
    position:relative;
    z-index:1;
    }
    
    #content p {
    font-size:1.25rem;
    letter-spacing:.02rem;
    margin-bottom:1.3rem;
    }
    
    
    /* Media Queries */
    
    @media only screen and (max-width:768px) {
        #overlay { height:auto; }
    }
    
    
    /* Visibility Helpers */
    
    @media only screen and (min-width:769px) {
        .visible-mobile,.visible-tablet,.hidden-desktop { display:none !important; }
    }
    
    @media only screen and (min-width:480px) and (max-width:768px) {
        .visible-mobile,.hidden-tablet,.visible-desktop { display:none !important; }
    }
    
    @media only screen and (max-width:479px) {
        .hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }
    }